footer {
  background-color: #000;
}

.email-link {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease, transform 0.3s ease;
  display: inline-flex;
  align-items: center;
  bottom: 10px;
}

.email-link:hover {
  color: #ff9800;
  transform: scale(1.05);
}

.list-emails {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.list-emails li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.list-emails li::before {
  margin-left: 10px;
  content: "✉️";
  margin-right: 10px;
  font-size: 1.2em;
  color: #ff9800;
}

.list-emails li:last-child {
  margin-bottom: 0;
}
  
.support-link {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease, transform 0.3s ease; 
}
  
.support-link:hover {
  color: #ff9800;
  transform: scale(1.05); 
} 

.phone-link {
  text-decoration: none; 
  color: #ffffff; 
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
}

.phone-link:hover {
  color: #ff9800; 
  transform: scale(1.05);
}
